.html {
	position: relative;
	min-height: 100%;
}

.body {
	margin: 0px, 0px, 40px;
	min-height: 100%;
}

.clearFloat {
	clear: both;
}

.rightFloat {
	float: right;
}

.leftFloat {
	float: left;
}

.tealText {
	color: #4aaaa5;
}

.navBarBox {
	height: 60px;
	margin: 0 auto;
	min-width: 960px;
	max-width: 960px;
	position: relative;
}

.navBarTextBox {
	margin-top: 20px;
}

.name {
	background-color: #4aaaa5;
	float: left;
	height: 20px;
	padding: 20px;
	color: white;
	font-size: 20px;
}

.pageBodyBox {
	margin: 0 auto;
	min-width: 960px;
	max-width: 960px
}

.footer {
	text-align: center;
	background-color: #666666;
	color: lightgrey;
	padding-top: 20px;
	margin: 0px;
	width: 100%;
	position: absolute;
	overflow: hidden;
	height: 40px;
	left: 0;
	bottom: 0;
}

.aboutMeTextBox {
	padding: 20px;
}

.justinCarlsonImg {
	width: 150px;
	border: solid lightgrey 3px;
	float: left;
	margin: 0px 10px 10px;
	box-sizing: border-box;
}

.aboutMeBox {
	width: 650px;
	height: 300px;
	margin-top: 40px;
	background-color: white;
	border: solid lightgrey 3px;
	box-sizing: border-box;
	position: relative;
}


.connectWithMeBox {
	width: 270px;
	height: 150px;
	margin-top: 40px;
	background-color: white;
	border: solid lightgrey 3px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.connectWithMeTextBox {
	padding: 5px 0px 10px 80px;
}

.bgImg {
	background-image: url('../images/background.jpg');
	width: 100%;
	height: 100%;
}

.imgLogoResize {
	width: 20%;
}


